Source: gtkaml
Section: developement
Priority: extra
Maintainer: Vlad Grecescu <b100dian@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: gtkaml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An XML Application Markup Language for GTK+Vala
 gtkaml is an XML syntax and an XML parser that extends the Vala.Parser and transforms all your XML tags into a valid Gtk+ UI class. 
 It features a compact XML syntax for describing the way Gtk widgets are laid out in a (new) custom widget you're creating. 
 Code "islands" (written in Vala) are used for widget signal handling and other methods/signals/properties that you're introducing.
 It doesn't depend on an external library at run-time, and it is much more readable than the usual UI boilerplate. 